<tr>
    <td>
        <input class="labelCheckbox" type="checkbox" value="{{@index}}" {{#eq show "true"}}checked="checked()"{{/eq}}/>
    </td>
    <td>
        <input type="text" {{#eq type "machine"}}disabled{{/eq}} value="{{start}}"/>
    </td>
    <td>
        <input type="text" {{#eq type "machine"}}disabled{{/eq}} value="{{tfs}}"/>
    </td>
    <td>
        <input type="text" {{#eq type "machine"}}disabled value="{{#perc ../accuracy}}{{/perc}}"{{/eq}} {{#neq type "machine"}}disabled{{/neq}}/>
    </td>
    <td>
        <select id="col4row1" {{#eq type "machine"}}disabled{{/eq}}>
            {{#each labelList}}
                <option value="{{@index}}"
                    {{#eq @index ../label}}
                        selected="selected()"
                    {{/eq}}
                >
                    {{this}}
                </option>
            {{/each}}
        </select>
    </td>
    <td>
        <input type="checkbox" disabled {{#eq type "machine"}}checked="checked()"{{/eq}}/>
    </td>
</tr>
